.nameSchool {
  color: rgb(19, 101, 208);
  margin-left: 15px;
  font-size: 15px;
}
.nameDepartment {
  color: #007bff;
  margin-left: 15px;
  font-size: 17px;
}
#check {
  position: absolute;
  right: 5px;
  top: 5px;
}
.tag1 a {
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.tag1 a:hover {
  color: blue;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
}
.tag1 a:active {
  color: blue;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
}
.tag2 {
  margin-top: 10px;
  position: absolute;
  left: 10px;
  width: 250px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}
.tag2 h3 {
  margin: 0;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 2px solid #ccc;
}
.tag2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tag2 ul li {
  border-bottom: 1px dashed #ddd;
}
.tag2 ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}
.tag2 ul li a:hover {
  background-color: #f0f0f0;
}
.tag2 ul li.active a {
  background-color: #007bff;
  color: white;
}
.tag2 ul li a::after {
  content: "›";
  float: right;
  color: #ccc;
}
.tagAdmin {
  margin-top: 10px;
  background-color: #f0f0f0; /* Nền màu xám nhạt */
  border-radius: 10px; /* Bo góc tròn */
  padding: 10px 20px; /* Khoảng cách giữa nội dung và viền */
  border: 1px solid #ccc; /* Viền màu xám */
  font-family: Arial, sans-serif; /* Font chữ mặc định */
}
.iframe {
  margin-left: 270px;
}
