body {
  display: flex;
  margin: 0;
  padding: 0;
}
.menu a {
  display: block;
  padding: 15px;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
}
.menu a:hover {
  color: blue;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 5px;
}
.menu a:active {
  color: blue;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 5px;
}
